.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portflio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);    
}
.portflio__item:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.portflio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;

}
h2{
    margin-left: 3rem;
}
.portflio__item h3{
    margin: 1.2rem 0 2rem;   
}
.portflio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
#project{
    margin-top: 100px;

}

@media screen and (max-width: 1024px){
 
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}